@use "../utilities/variables";

// ------ Estilos del documento
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: variables.$color-secondary;
  font-family: variables.$font;

  background-image: url("../../assets/bg-dashboard.jpg");
  background-attachment: fixed;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background-color: variables.$color-contrast;
  border: 1px solid variables.$color-red;
  border-radius: 1rem;
}

::selection {
  color: variables.$color-red;
  background-color: #666666;
}

// ------ Estilos de reseteo para elementos

h1 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  border: none;
  cursor: pointer;
  font-family: variables.$font;
}

img {
  max-width: 100%;
}

input,
textarea {
  outline: none;
  border: none;
  margin: .2rem 0 1rem 0;
  width: 100%;
  display: block;
  font-family: variables.$font;
}

input:focus,
textarea:focus {
  outline: 1px solid variables.$color-red;
}

textarea {
  resize: none;
}
textarea::placeholder {
  font-family: variables.$font;
}

input[type="file"] {
  cursor: pointer;
  position: relative;
  border-radius: .5rem;
}
input[type="file"]::before {
  content: "";
  color: rgb(255, 255, 255);
  position: absolute;
  width: 94%;
  border: 11px solid;
}
input[type="file"]::after {
  content: "Select an image";
  color: variables.$color-contrast;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  z-index: 2;
}

input[type="color"] {
  cursor: pointer;
  border-radius: .5rem;
  padding: .2rem;
}

::placeholder {
  user-select: none;
  color: variables.$color-contrast;
}