
// ------ Variables

$color-primary: #838383;
$color-secondary: #e7e7e7;
$color-contrast: #acacac;
$color-red: #a5486c;

$bg-color1: #bd7096;
$bg-color2: #6781a5;
$bg-color3: #cdcbeb;

$font: 'Prompt', sans-serif;