
// ------ Variables

$color-primary: #838383;
$color-secondary: #4b4b4b;
$color-contrast: #c9c9c9;
$color-red: #a5486c;

$bg-color1: #bd7096;
$bg-color2: #6781a5;
$bg-color3: #cdcbeb;

$font: 'Prompt', sans-serif;