@use "../utilities/variables";

#dashboard {
    min-height: 100vh;
    padding: 1rem;
    padding-bottom: 5rem;
    position: relative;
    z-index: 5;

    .dashboard__button {
        display: inline-flex;
        align-items: center;
        padding: .2rem;
        padding-right: 1rem;
        border-radius: 1.2rem;
        background-color: variables.$color-contrast;

        .button__icon {
            padding: .2rem;
            font-size: 2.5rem;
            
            color: variables.$color-red;
            background: variables.$color-secondary;
            box-shadow: 1px 1px 10px 0 #353535;
            border-radius: 1rem;
        }
    }

    .dashboard__content {
        display: flex;
        justify-content: flex-end;

        .list {
            max-width: 600px;
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
    
            .message {
                opacity: .2;
                text-align: center;
                font-size: 1.5rem;
                margin: 30vh auto;
            }
        }
    }

    .confetti {
        position: fixed !important;
        inset: 0px;
    }
}

@media only screen and (min-width: 916px) {
    .list {
        margin: 0 auto;
    }
}