
@use "../utilities/variables";

.rocket {
    position: fixed;
    left: 0;
    margin-top: 4rem;
    width: 20%;
    max-width: 100px;

    .rocket__carrousel {
        margin: auto;
        height: 57vh;
        width: 6px;
        background: #69696967;
        position: relative;

        img {
            max-width: 200px;
            width: 86px;
            position: absolute;
            right: 50%;
            z-index: 2;
            transform: translateX(53%);
            filter: hue-rotate(340deg);
        }
    }

    .rocket__carrousel::before {
        content: "";
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        border: 1px solid #00ffaa;
        background-color: #426956;
        padding: .5rem;
        border-radius: 50%;
    }

    .rocket__carrousel::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        border: 1px solid #ff0000;
        background-color: #581e30;
        padding: .5rem;
        border-radius: 50%;
    }

}

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .rocket {
        left: 20%;
    }
}

@media only screen and (min-width: 916px) {
    .rocket {
        left: 10%;
    }
}