@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #e7e7e7;
  font-family: "Prompt", sans-serif;
  background-image: url("../../assets/bg-dashboard.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Prompt", sans-serif;
}

img {
  max-width: 100%;
}

input,
textarea {
  outline: none;
  border: none;
  margin: 0.2rem 0 1rem 0;
  width: 100%;
  display: block;
  font-family: "Prompt", sans-serif;
}

textarea {
  resize: none;
}

textarea::-moz-placeholder {
  font-family: "Prompt", sans-serif;
}

textarea:-ms-input-placeholder {
  font-family: "Prompt", sans-serif;
}

textarea::placeholder {
  font-family: "Prompt", sans-serif;
}

input[type=file] {
  position: relative;
}

input[type=file]::before {
  content: "";
  color: rgb(255, 255, 255);
  position: absolute;
  width: 91%;
  border-radius: 6px;
  border: 11px solid;
}

input[type=file]::after {
  content: "Select an image";
  color: #acacac;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  z-index: 2;
}

::-moz-placeholder {
  color: #acacac;
}

:-ms-input-placeholder {
  color: #acacac;
}

::placeholder {
  color: #acacac;
}

#header {
  width: 100vw;
  position: absolute;
  z-index: 10;
  padding: 1rem;
  background-image: url("../../assets/bg-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
#header .header__author {
  align-self: flex-end;
  color: #999999;
}
#header .header__content .content__title {
  padding: 1rem 0;
  font-size: calc(2rem + 5vw);
  text-transform: uppercase;
}
#header .header__content .content__title .title__year {
  display: flex;
  align-items: center;
  font-size: calc(4.2rem + 5vw);
}
#header .header__content .content__title .title__year .year__icon {
  color: #a5486c;
}
#header .header__content .content__info {
  padding: 1rem 0;
  width: 70%;
  font-size: 1.2rem;
}
#header .header__button {
  margin-bottom: 1.5rem;
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.2rem 0.3rem 0.2rem 2rem;
  border-radius: 1.2rem;
  background-color: #acacac;
  color: #838383;
}
#header .header__button .button__icon {
  margin-left: 1rem;
  padding: 0.2rem;
  font-size: 2.5rem;
  color: #a5486c;
  background: #e7e7e7;
  border-radius: 1rem;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #header {
    background-position: 0px -100px;
  }
}
#dashboard {
  min-height: 100vh;
  padding: 1rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 5;
}
#dashboard .dashboard__button {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem;
  padding-right: 1rem;
  border-radius: 1.2rem;
  background-color: #acacac;
}
#dashboard .dashboard__button .button__icon {
  padding: 0.2rem;
  font-size: 2.5rem;
  color: #a5486c;
  background: #e7e7e7;
  box-shadow: 1px 1px 10px 0 #353535;
  border-radius: 1rem;
}
#dashboard .dashboard__content {
  display: flex;
  justify-content: flex-end;
}
#dashboard .dashboard__content .list {
  margin: 0 auto;
  max-width: 600px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#dashboard .dashboard__content .list .message {
  opacity: 0.2;
  text-align: center;
  font-size: 1.5rem;
  margin: 30vh auto;
}

.form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  position: fixed;
  bottom: 1rem;
  right: 50%;
  z-index: 3;
  transform: translateX(50%);
  padding: 1rem;
  border-radius: 1rem;
  background-color: #acacac;
  box-shadow: 1px 1px 10px 0 #353535;
}
.form .form__button-display {
  padding: 0.6rem;
  padding-bottom: 0.2rem;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  border-radius: 50% 50% 0 0;
  bottom: 100%;
  font-size: 1.7rem;
  color: #a5486c;
  background-color: #acacac;
  cursor: pointer;
}
.form .form__button-display .button-display__icon-active {
  transform: rotate(180deg);
}
.form .form__button-display::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: -1;
  border-bottom-left-radius: 2rem;
  box-shadow: -12px 12px 0 10px #acacac;
  padding: 1rem;
}
.form .form__button-display::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  z-index: -1;
  border-bottom-right-radius: 2rem;
  box-shadow: 12px 12px 0 10px #acacac;
  padding: 1rem;
}
.form .form__title {
  margin-bottom: 1rem;
  text-align: center;
  font: 500 normal 1.5rem "Prompt", sans-serif;
}
.form .form__input label {
  margin-bottom: 0.4rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: #e7e7e7;
  color: #a5486c;
}
.form .form__input #name {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.form .form__input #description {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.form .form__input #image::before {
  border-radius: 1rem;
}
.form .form__button {
  border-radius: 1.2rem;
  border: 2px solid #a5486c;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  box-shadow: 1px 1px 10px 0 #353535;
}
.form .form__button .button__icon {
  margin-left: 0.4rem;
  font-size: 1.3rem;
}

.purpose-container {
  width: 100%;
  min-width: 200px;
  position: relative;
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: transparent;
  border-radius: 1rem;
  transform: rotate(-5deg);
}

.purpose {
  height: 70px;
  width: 80%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 5px 1px 10px 0 #292929;
  border-bottom: 1px solid #ffffff;
}
.purpose .purpose__data {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.purpose .purpose__data .data__title {
  font-weight: 500;
  line-height: 0.9;
}
.purpose .purpose__data .data__date {
  font-size: 0.8rem;
}
.purpose .purpose__data .data__description {
  margin: 1rem 0;
}
.purpose .purpose__controls {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.purpose .purpose__controls .controls__button {
  margin: 0 0.5rem;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid #a5486c;
  box-shadow: 1px 1px 10px 0 #353535;
}
.purpose img {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  filter: opacity(0.3) grayscale(40%);
}

.purpose:nth-child(odd) {
  background: #586d94;
  color: #acacac;
}

.folder {
  width: 100%;
  height: 100px;
  background-color: rgba(158, 0, 47, 0.726);
  position: absolute;
  border-radius: 50% 0.7rem 1rem 1rem;
  border-bottom: 1px solid #ffffff;
}

.rocket {
  position: fixed;
  left: 0;
  margin-top: 4rem;
  width: 20%;
  max-width: 100px;
}
.rocket .rocket__carrousel {
  margin: auto;
  height: 57vh;
  width: 6px;
  background: rgba(105, 105, 105, 0.4039215686);
  position: relative;
}
.rocket .rocket__carrousel img {
  max-width: 200px;
  width: 86px;
  position: absolute;
  right: 50%;
  z-index: 2;
  transform: translateX(53%);
  filter: hue-rotate(340deg);
}
.rocket .rocket__carrousel::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  border: 1px solid #00ffaa;
  background-color: #426956;
  padding: 0.5rem;
  border-radius: 50%;
}
.rocket .rocket__carrousel::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  border: 1px solid #ff0000;
  background-color: #581e30;
  padding: 0.5rem;
  border-radius: 50%;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .rocket {
    left: 20%;
  }
}/*# sourceMappingURL=index.css.map */