@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #bd7096, #6781a5, #cdcbeb, #bd7096);
  color: #4b4b4b;
  font-family: "Prompt", sans-serif;
}

h1 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Prompt", sans-serif;
}

img {
  max-width: 100%;
}

input,
textarea {
  outline: none;
  border: none;
  margin: 0.2rem 0 1rem 0;
  width: 100%;
  display: block;
  font-family: "Prompt", sans-serif;
}

textarea {
  resize: none;
}

textarea::-moz-placeholder {
  font-family: "Prompt", sans-serif;
}

textarea:-ms-input-placeholder {
  font-family: "Prompt", sans-serif;
}

textarea::placeholder {
  font-family: "Prompt", sans-serif;
}

input[type=file] {
  position: relative;
}

input[type=file]::before {
  content: "";
  color: rgb(255, 255, 255);
  position: absolute;
  width: 91%;
  border-radius: 6px;
  border: 11px solid;
}

input[type=file]::after {
  content: "Select an image";
  color: #c9c9c9;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  z-index: 2;
}

::-moz-placeholder {
  color: #c9c9c9;
}

:-ms-input-placeholder {
  color: #c9c9c9;
}

::placeholder {
  color: #c9c9c9;
}

#header {
  width: 100vw;
  position: absolute;
  z-index: 10;
  padding: 1rem;
  background-image: url("../../assets/bg-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
#header .header__author {
  align-self: flex-end;
  color: #999999;
}
#header .header__content .content__title {
  padding: 1rem 0;
  font-size: calc(2rem + 5vw);
  text-transform: uppercase;
}
#header .header__content .content__title .title__year {
  display: flex;
  align-items: center;
  font-size: calc(4.2rem + 5vw);
}
#header .header__content .content__title .title__year .year__icon {
  color: #a5486c;
}
#header .header__content .content__info {
  padding: 1rem 0;
  width: 70%;
  font-size: 1.2rem;
}
#header .header__button {
  margin-bottom: 1.5rem;
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.2rem 0.3rem 0.2rem 2rem;
  border-radius: 1.2rem;
  background-color: #c9c9c9;
  color: #838383;
}
#header .header__button .button__icon {
  margin-left: 1rem;
  padding: 0.2rem;
  font-size: 2.5rem;
  color: #a5486c;
  background: #4b4b4b;
  border-radius: 1rem;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #header {
    background-position: 0px -700px;
  }
}
#dashboard {
  height: 100vh;
  padding: 1rem;
  position: relative;
  z-index: 5;
}
#dashboard .dashboard__button {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem;
  padding-right: 1rem;
  border-radius: 1.2rem;
  background-color: #c9c9c9;
}
#dashboard .dashboard__button .button__icon {
  padding: 0.2rem;
  font-size: 2.5rem;
  color: #a5486c;
  background: #4b4b4b;
  box-shadow: 1px 1px 10px 0 #7c7c7c;
  border-radius: 1rem;
}

.form {
  position: fixed;
  bottom: 1rem;
  z-index: 3;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #c9c9c9;
  box-shadow: 1px 1px 10px 0 #7c7c7c;
}
.form .form__button-display {
  padding: 0.6rem;
  padding-bottom: 0.2rem;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  border-radius: 50% 50% 0 0;
  bottom: 100%;
  font-size: 1.7rem;
  color: #a5486c;
  background-color: #c9c9c9;
  cursor: pointer;
}
.form .form__button-display .button-display__icon-active {
  transform: rotate(180deg);
}
.form .form__button-display::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: -1;
  border-bottom-left-radius: 2rem;
  box-shadow: -12px 12px 0 10px #c9c9c9;
  padding: 1rem;
}
.form .form__button-display::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  z-index: -1;
  border-bottom-right-radius: 2rem;
  box-shadow: 12px 12px 0 10px #c9c9c9;
  padding: 1rem;
}
.form .form__title {
  margin-bottom: 1rem;
  text-align: center;
  font: 500 normal 1.5rem "Prompt", sans-serif;
}
.form .form__input label {
  margin-bottom: 0.4rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: #4b4b4b;
  color: #a5486c;
}
.form .form__input #name {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.form .form__input #description {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.form .form__input #image::before {
  border-radius: 1rem;
}
.form .form__button {
  border-radius: 1.2rem;
  border: 2px solid #a5486c;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  box-shadow: 1px 1px 10px 0 #7c7c7c;
}
.form .form__button .button__icon {
  margin-left: 0.4rem;
  font-size: 1.3rem;
}

.porpuse {
  margin: 1rem 0;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 0 #7c7c7c;
}
.porpuse .porpuse__data {
  position: relative;
  z-index: 1;
}
.porpuse img {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  filter: opacity(0.3) grayscale(40%);
}

.porpuse:nth-child(odd) {
  background: #a5486c;
  color: #c9c9c9;
}

.porpuse:nth-child(even) {
  background: #4b4b4b;
  color: #c9c9c9;
}/*# sourceMappingURL=index.css.map */